</html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript"></script>
    <title>admin-Twenty & Six Espresso</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
    content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Armata' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Atma' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" type="text/css" href="menu.css">
  </head>
  <body class="content menu_items-content">
    <main class="main">
      <div class="menu_items-form">
        <h1 class="Menupage-title"><%= @menu.name %></h1>
        <%= form_with(url: "/menus/#{@menu.id}" , method: :put, local: true, class: "Add-Menu menu_items-updatetag" ) do%>
          <%= text_field_tag 'name', nil, placeholder: 'Update Menu Name', class: "AddMenu-txt menu_items-formImage" %>
          <%= button_tag "Update" , class: "menu_items-Update AddMenu-button" , :onclick => "return confirm('Are you sure you want to update?');"%>
        <% end %>
      </div>
      <%= link_to "Add New Item", new_menu_item_path(id: "#{@menu.id}") , :class => "AddMenu-button" %>
      <% @items.order("name ASC").all.each do |item|%>
        <div class="menu_items-items">
          <table class="menus_customer-list">
            <td align="center">
              <table class="menu_items-itemlist" border="0">
                <td>
                  <a   href="<%= edit_menu_item_path(id: item.id)  %>" , class="menu_list menu_items-table"  >
                    <table class="menus_customer-list">
                      <td align="left">
                        <p><%= item.name %></p>
                      </td>
                      <td align="right">
                        <p> &#x20B9; <%= item.price %></p>
                      </td>
                    </table>
                  </a>
                </td>
                <td align="right" class="delete">
                  <a class="delete" href="javascript:void(0)">
                    <%= form_with(url: "/menu_items/#{item.id}" ,method: "delete") do %>
                      <input type="image" src="delete-outline.jpg"
                    onclick="return confirm('Are you sure you want to delete?');"
                    >
                    <% end %>
                  </a>
                </td>
              </table>
              <p class = "menu_items-description">
                <%= item.description %>
              </p>
            </td>
            <td align="right" style="width: 30%">
              <img src="<%=item.image_id %>" width="150px" height="130px" >
            </td>
          </table>
        </div>
      <% end %>
    </main>
    <div class="zag slide"></div>
  </body>
</html>
