</html>

<!DOCTYPE html>
<html lang="en">

<head>
  <script type="text/javascript"></script>
  <title>admin-Twenty & Six Espresso</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Armata' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Atma' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="home.css">
  <link rel="stylesheet" type="text/css" href="menu.css">
</head>

<body class="content" style="opacity: 0.95;">
  <ul class="navul" style="padding-top: 10px">
    <li class="navli"><a class="active" href="/menus">Menu</a></li>
    <li class="navli"><a href="/users">Users</a></li>
    <li class="navli"><a href="/users">Reports</a></li>
  </ul>

  <main class="main">
    <h1 class="Menupage-title">Menu 1</h1>
     <%= form_with(url: "/menu_items?id=#{@menu.id}", method: "post", class: "Add-Menu") do %>
        <%= text_field_tag 'name', nil, placeholder: "Item", class: "AddMenu-txt" , :required => true %>
        <%= text_field_tag 'price', nil, placeholder: "Price", class: "AddMenu-txt", :required => true %>
        <%= text_area_tag 'description', nil, placeholder: "Description", class: "AddMenu-txt" %>

        <%= button_tag "Add" , class: "AddMenu-button" %>
      <% end %>
