<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript"></script>
    <title>Twenty &amp; Six Espresso</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Monsieur La Doulaise' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
  </head>
  <body>
    <div class="greenline"></div>
    <div class="fullwrap">
      <div class="container">
        <nav class="menus" id="menu" role="navigation">
          <a href="/">
            <img class="logo side" src="http://www.twentyandsix.com.au/wp-content/themes/twentyandsix/img/logo@2x.png">
          </a>
          <ul class="navi">
            <% if @current_user.customer?%>
              <li>
                <a class="try" href="/menus">Home</a>
              </li>
            <% else %>
              <li>
                <a class="try" href="/menus?walkin=true">Home</a>
              </li>
            <% end %>
            <% if @current_user.customer?%>
              <li>
                <a class="try" href="/users">Your Orders</a>
              </li>
            <% else %>
              <li>
                <a class="try" href="/users?walkin=true">Your Orders</a>
              </li>
            <% end %>
            <li>
              <a class="try" href="#">About</a>
            </li>
            <li>
              <a class="try" href="#">Get Here</a>
            </li>
          </ul>
        </nav>
        <div class="zag slide"></div>
      </div>
      <div id="wrapper" class="slide">
        <div class="content cf menus_customer-content" >
          <ol class="menus_customer-contentOl">
            <li>
              <article class="box">
                <h1 class="heading">Bill</h1>
                <div class="menus_customer-cartdash">
                  <table class="menus_customer-list" border="0">
                    <tbody>
                      <tr>
                        <% @orderitems.all.each do |item| %>
                          <table class="menus_customer-list" border="0">
                            <td> <strong><%= item.menu_item_name %></strong> </td>
                            <td align="right">
                              <strong> No:  <%= item.quantity %></strong>
                            </td>
                            <td align="right" style="width: 30%;">
                              <strong> &#x20B9; <%= OrderItem.get_price(item) %></strong>
                            </td>
                          </table>
                        <% end %>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="flexing">
                  <h4 class="menus_customer-carttotal">Total:</h4>
                  <h4 class="menus_customer-cartprice"><strong> &#x20B9;  <%= Order.get_sum(@order) %></strong></h4>
                </div>
                <% if @current_user.customer? %>
                  <%= link_to "Pay Now" , "/orders/#{@order.id}" , method: :put, :class => "try", :class => "try menus_customer-cartproceed" %>
                <% else %>
                  <%= link_to "Pay Now" , "/orders/#{@order.id}?walkin=true" , method: :put, :class => "try",:class => "try menus_customer-cartproceed" %>
                <% end %>
              </article>
            </li>
          </ol>
          <div class="big zag"></div>
        </div>
      </div>
    </div>
  </body>
</html>
