<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript"></script>
    <title>Twenty &amp; Six Espresso</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Monsieur La Doulaise' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
  </head>
  <body>
    <div class="greenline">
    </div>
    <div class="fullwrap">
      <div class="container">
        <nav class="menus" id="menu" role="navigation">
          <a href="/">
            <img class="logo side" src="http://www.twentyandsix.com.au/wp-content/themes/twentyandsix/img/logo@2x.png">
          </a>
          <ul class="navi">
            <li>
              <a class="try" href="/menus">Home</a>
            </li>
            <% if @current_user.clerk?%>
              <li>
                <a class="try" href="/menus?walkin=true">Menu</a>
              </li>
            <% else %>
              <li>
                <a class="try" href="/menus">Menu</a>
              </li>
            <% end %>
            <li>
              <a class="try" href="/users">Your Orders</a>
            </li>
            <li>
              <a class="try" href="#">Get Here</a>
            </li>
          </ul>
        </nav>
        <div class="zag slide">
        </div>
      </div>
      <div id="wrapper" class="slide">
        <div class="content cf" style = "width: 520px;" >
          <ol style="margin-bottom: 0;">
            <li>
              <article class="box">
                <% if @order.confirmed? %>
                  <h5 style="margin-bottom: 10px;align: right;">
                    Order placed at: <strong><%= @order.updated_at %></strong>
                  </h5>
                  <h5 style="margin-bottom: 10px;align: right;">
                    Yet to be delivered
                  </h5>
                <% elsif @order.delivered? %>
                  <h5 style="margin-bottom: 10px;align: right;">Order placed at: <strong><%= $a %></strong></h5>
                  <h5 style="margin-bottom: 10px;align: right;">Delivered at: <strong><%= @order.updated_at %></strong></h5>
                <% end %>
                <h1 class="heading">Bill</h1>
                <div style="border-bottom: 1px dashed #bbb;">
                  <table style="width: 100%;" border="0">
                    <tbody>
                      <tr>
                        <% @orderitems.all.each do |item| %>
                          <table style="width: 100%;" border="0">
                            <td> <strong><%= item.menu_item_name %></strong> </td>
                            <td align="right">
                              <strong> No:  <%= item.quantity %></strong>
                            </td>
                            <td align="right">
                              <strong> &#x20B9; <%= OrderItem.get_price(item) %></strong>
                            </td>
                          </table>
                        <% end %>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <h4 style="margin-bottom: 10px;align: right;">Total:<strong> &#x20B9;  <%= Order.get_sum(@order) %></strong>
                </h4>
              </article>
            </li>
          </ol>
          <div class="big zag">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
