<!DOCTYPE html>
<html>
  <head>
    <title>Cafeteria</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if @current_user %>
      <p class="UserHeader" >
        Logged in as <%= @current_user.name%> !
        <%= link_to "Sign-out", destroy_session_path, method: "delete" %>
      </p>
      <% if @current_user.admin?%>
        <ul class="navul" style="padding-top: 10px">
          <li class="navli"><%= active_link_to "Menu", '/menus', active: :exact %></li>
          <li class="navli"><%= active_link_to "Orders", '/orders', active: :exact %></li>
          <li class="navli"><%= active_link_to "Walk-in", '/menus?walkin=true', active: :exact %></li>
          <li class="navli"><%= active_link_to "Users", '/users', active: :exact%></li>
          <li class="navli"><%= active_link_to "Reports", '/orders?admin=true', active: :exact %></li>
        </ul>
      <% elsif @current_user.clerk? %>
        <ul class="navul">
          <li class="navli"><%= active_link_to "Orders", '/orders', active: :exact %></li>
          <li class="navli"><%= active_link_to "Walk-in", '/menus?walkin=true', active: :exact %></li>
        </ul>
      <% end %>
    <% end %>
    <% if flash[:error] %>
      <p class="UserHeader" style="color: red;">
        <%= flash[:error] %>
      </p>
    <% end %>
    <% if flash[:success] %>
      <p class="UserHeader" style="color: green;">
        <%= flash[:success] %>
      </p>
    <% end %>
    <%= yield %>
  </body>
</html>
